h1 {
  color: purple;
  @include govuk-font(24, $weight: bold);
}

.start-button-sticky {
  color: white;
  font-size: 24px;
  display: block;
  background-color: blue;
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0;
  padding: 10px;
  margin-top: 100px;
}

.special {
  border: 10px solid red;
  display: block;
  background-color: pink;
  padding: 20px;
}


.inline-start a::before {
  content: "→";
}

.inline-start {
  font-size: 2em;
  display: block;
  border-left: 10px solid green;
  margin-bottom: 20px;
  padding-left: 20px;
}

.inline-start::before {
  content: "Inline start pattern";
  display: block;
  font-size: 14px;
  color: grey;
}

.contents-list {
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

.contents-list ol {
  font-size: 16px;
  font-family: sans-serif;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  padding-left: 0;
}

.contents-list li::before {
  content: "—";
  margin-right: 5px;
}

.callout {
  font-size: 19px;
  display: block;
  border-left: 10px solid grey;
  padding-left: 20px;
  margin-bottom: 20px;
}

.start-button-styled {
  font-size: 24px;
  color: green;
  margin-bottom: 20px;
}

.start-button-styled::before {
  content: "Styled start button";
  display: block;
  font-size: 14px;
  color: grey;
}
