h1 {
  color: purple;
  @include govuk-font(24, $weight: bold);
}



.special {
  border: 10px solid red;
  display: block;
  background-color: pink;
  padding: 20px;
}






//// Inline start button /////


.inline-start {
  font-size: 2em;
  display: inline-block;
  border-left: 10px solid green;
  margin-bottom: 20px;
  padding-left: 20px;
}

.inline-start::before {
  content: "→";
  display: inline-block;
  font-size: 14px;
  color: pink;
}

//// Contents list /////
.contents-list {
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
}

.contents-list ol {
  font-size: 16px;
  list-style-type: none;
  list-style-position: outside;
  list-style-image: none;
  padding-left: 0;
}


//// Markdown /////
.callout {
  font-size: 19px;
  display: block;
  border-left: 10px solid grey;
  padding-left: 20px;
  margin-bottom: 20px;
}

//// Start button styled /////


.start-button-styled a{
  font-size: 2em;
  display: inline-block;
  margin-bottom: 20px;
}

.start-button-styled::before {
  content: "→";
  display: inline-block;
  font-size: 14px;
  color: pink;
}

//// Sticky /////
.sticky {
  display: block;
  height: 80px;
  width: 100%;
  color: white;
  z-index: 99;
  position: fixed;
  bottom: 0;
}

.panel {
  position: fixed;
  bottom: 0;
  display: block;
  height: 100px;
  width: 100%;
  background-color: grey;
}

.sticky-content-height {
  height: 100vh;
}
